*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}
.row {
  max-width: 1440px;
  margin-inline: auto;
}

/* Main Header */
.main-header {
  background: #21222a;
}
.main-header__inner {
  justify-content: space-between;
  align-items: center;
  height: 91px;
  padding: 0 32px;
}
.main-header__logo {
  flex: 1 1 auto;
  align-items: center;
}
.main-header__logo-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.05em;
  color: #61dafb;
}
.main-header__logo-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.main-header__aside {
}
.main-header__aside-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #deebf8;
}

/* Main Content */

/* Facts */
.s-facts {
  background: #282d35;
}
.s-facts__inner {
  padding: 32px;
}
.s-facts__title {
  font-style: normal;
  font-weight: 700;
  font-size: 39.06px;
  line-height: 47px;
  letter-spacing: -0.05em;
  color: #ffffff;
}
.s-facts__list {
  color: #ffffff;
  padding: 0px 34px;
}
.s-facts__list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 20px;
}
.s-facts__list-item::marker {
  color: #61dafb; /* Change the color */
  font-size: 1.4rem;
}
